/* doc search modal */
.DocSearch-Modal {
  background: var(--docsearch-modal-background);
  border-radius: 6px;
  box-shadow: var(--docsearch-modal-shadow);
  flex-direction: column;
  margin: 70px auto auto !important;
  max-width: var(--docsearch-modal-width);
  position: relative;
}

.DocSearch-Button {
  background-color: inherit !important;
  color: black !important;
  border: 1px dashed lightblue !important;
}

.DocSearch-Button:hover {
  border: none !important;
  border: 1px solid lightblue !important;
}